html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
img {
  vertical-align: middle;
}
.el-breadcrumb {
  margin-bottom: 15px;
}
.el-card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}
.el-container {
  overflow: hidden;
}
/* 表格单元格 */
.cell {
  text-align: center;
}
